.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

}

.total-width {
    max-width: 1200px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 30px 0;



}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #FFFFFF;
    list-style: none;
    cursor: pointer;

}

.btn {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%, rgba(251, 9, 180, 1) 49.819%, rgba(145, 0, 248, 1) 81.648%);
    color: #FFFFFF;
}

.hamburger {
    display: none;
}

.nav-container {
    border-bottom: 1px solid #523c6e;
}

.banner-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 101px 0;
}

.img-container1 {
    position: absolute;
    z-index: 1;
}

.img-container2 {
    z-index: 2;
    position: absolute;
    top: 180px;
}

.banner-section {
    width: 558px;
    margin: 0 auto;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 500px;
    text-align: center;
}

.banner-name {
    font-size: 3.75rem;
    color: white;
}

.pera-name {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.btnn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    color: #00FF88;
    border: 1px solid #00FF88;
}

.about {
    background: rgba(26, 11, 46, 1);
    padding-bottom: 50px;
}

.about-container {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #523c6e;
    padding-bottom: 50px;

}

.about-pera {
    padding-top: 30px;
}

.rating {
    display: flex;
    gap: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.rating-contant {
    font-size: 3rem;
    font-weight: 900;
    line-height: 58px;
    color: #00FF88;
}

.features {
    background: rgba(35, 14, 61, 1);
    height: 1121px;
}

.features-container,
.episodes-cards {
    display: grid;
    gap: 10px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    height: 480px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
    border-radius: 40px;
    padding: 50px;
    background: #351165;

}

.items2 {
    grid-column: span 2;
    padding: 50px;
    border-radius: 40px;
    background: #351165;
}

.items3 {
    padding: 50px;
    border-radius: 40px;
    background: #351165;

}

.items-h4 {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 16px 0;
}

.features-heading {
    padding-top: 120px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
    font-size: 3rem;
}

.episodes {
    background: #1A0B2E;
}

.episodes-cards {
    padding: 50px;
    border-radius: 40px;
    justify-items: center;
    gap: 50px;
}

.card-items {
    background: #351165;

}

.card-items iframe {
    width: 100%;
    border-radius: 13px;
    height: 20vh;
}

.card-items {
    border-radius: 13px;
    padding: 8px;
}

.green-text {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #00FF88;
}